@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
     font-family: "Alegreya", serif;
}
/* ====Navbar=== */
.navbar
{
    font-size: 17px;
    height: auto;
    position: fixed;
    width: 100vw;
    background-color: transparent ;
    z-index: 2;
    transition: .5s;
}
#title-nav
{
    position: relative;
    height: 48px;
  width: 175px;
}
#title-nav img
{
    width: 100%;
    position: absolute;
   transition: 0.5s;
}
#title-nav img:nth-child(1)
{
opacity: 0;
z-index: 3;
}
.nav-link
{
    color:black;
    margin-right: 10px;
}
.nav-link.active
{
    position: relative;
}
.nav-link.active::after
{
    content: '';
    position: absolute;
    background-color: #AE9768;
    width:100%;
    height: 2px;
    bottom: 130%;
    left: 0%;
}
.navbar-collapse
{
    flex-grow: 0;
}
@media (min-width: 992px) {
    .container-fluid
    {
        display: flex !important;
        justify-content: space-around !important;
    }
}
@media (max-width: 992px) {
     .navbar{
        background-color: white;
        position: relative !important;;
    }
    #title-nav img:nth-child(1)
    {
    opacity: 1 !important;
    }
    .nav-link.active
    {
        position: static;
    }
    
}

/* ----------------------------------------------------------------- */
/* ====== part1===== */
.bg-img
{
    position: relative;
    background-image:linear-gradient(to bottom,rgba(0, 0, 0,0.2) ,rgba(0, 0, 0,0.1)), url(../img/drew-coffman-1872.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    
    padding-top: 200px;
    padding-bottom: 170px;
    height: 100vh;
}
.bg-img h1
{
    font-size: 76px;
    margin-bottom: 30px;
}
.bg-img p
{
    text-align: center;
    font-size: 22px;
    width:65%;
    line-height: 40px;
}
.btns
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#btn-1,#btn-2
{
    border-radius: 5px;
    padding: 15px 25px;
    color: white;
}
#btn-1
{
    background-color: #8E7754;
    border: 2px solid #8E7754;
    transition: .2s;
}
#btn-2
{
    background-color: transparent;
    border: 2px solid white;
    transition: .2s;
}
#btn-1:hover,#btn-2:hover
{
    border: 2px solid white;
    color: black;
    background-color: white;
}
.scroller
{
    position: absolute;
    background-color: transparent;
    border-radius: 48% ;
    border: 2px solid rgba(255, 255, 255,0.5);
    width: 30px;
    height: 50px;
    bottom: 5%;
    cursor: pointer;
}
.dot{
    position: absolute;
    left: 35%;
    top: 20%;
    width:8px;
    height: 8px;
    clip-path: circle(50%);
    background-color: rgba(255, 255, 255,0.5);
    animation-name:x;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
@keyframes x
{
    from{
        top: 20%;
        background-color: rgba(255, 255, 255,0.5);
    }
    to{
    top: 60%;
        background-color: rgba(255, 255, 255,0.0);
    }
}
@media (max-width:992px) {
    .bg-img h1
{
    font-size: 41px;
}
}
@media (max-width:768px)
{
    .bg-img
    {
        height: fit-content;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .bg-img p
    {
        font-size: 16px;
        width: 90%;
    }
}
/* --------------------------- */
/* ===Part2=== */
.whoweARE
{
    padding-top:50px;
    padding-left: 30px;
}
.whoweARE p
{
    margin: 30px 0px;
    color: grey;
    line-height: 30px;
}
#whyUs svg,
.part5 svg,
.part6 svg
{
   width: 20px;
   height: 20px;
  margin-right: 5px;
  padding: 5px;
  box-sizing: content-box;
  border-radius: 50%;
  border: 1px solid rgba(128, 128, 128,0.5);
}
/* ---------------------------------- */
/* ===Part3=== */
.part3,.part5
{
    padding:80px 0px;
    margin-top: 100px;
    background-color:#F8F8F8;
}
.part3 p
{
    line-height: 35px;
    color: grey;
}
/* ---------------------------------- */
/* ===Part4=== */

.part4
{
    margin-top: 50px;
}

.part4 p
{
    line-height: 30px;
}

/* ---------------------------------- */
/* ===Part5=== */
.part5 svg
{
    background-color: #8E7754;
    border: none;
}
.part5 ul
{
    padding-top: 10px;
    padding-left: 0px;

}
.part5 li
{
    list-style:none;
    margin-top: 20px;
}
/* ---------------------------------- */
/* ===Part6=== */
.part6
{
    background-color: #403D38;
    line-height: 35px;
}
.part6 svg
{
    border: none;
}
.part6 h4
{
    color: white;
    margin-bottom: 20px;
}
/* ---------------------------------- */
/* ===Part7=== */
.part7
{
    background-color:#353330 ;
    padding-top: 80px;
    color: white;
    padding-bottom: 80px;
}
.part7 p
{
    font-size: 14px;
}
.logo-bg
{

    width: 30px;
    height: 30px;
    padding: 20px;
    box-sizing: content-box;
    background-color: #403D38;
    border-radius: 50%;
    transition: .2s;
    cursor: pointer;
}
.logo-bg:nth-child(1):hover
{
    background-color: #3B5998;
}
.logo-bg:nth-child(2):hover
{
    background-color: #DD4B39;
}
.logo-bg:nth-child(3):hover
{
    background-color: #036a9a;
}
.logo-bg:nth-child(4):hover
{
    background-color: #2ca8e7;
}
.social
{
    display: flex;
    gap: 20px;
}
.sticky-scroll
{
    display: none;
    position: fixed;
    bottom: 5%;
    right: 5%;
    border-radius: 50%;
    background-color: rgba(156, 153, 153, 0.5);
    width: 50px;
    height: 50px;
    cursor: pointer;
}
